.car{
    display: flex !important;
    flex-direction: column !important;

    .img-top{
        display: block;
        width: 100%;
        height: 200px;

        img{
            height: 100px;
            width: 100%;
        }
    }
}
