.displaysix{
    height: 90vh;
    width: 100%;
    padding: var(--padding);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;

    @media screen and (max-width:960px) {
        height: 40vh;
        width: 100%;
        padding: 20px 30px;
        margin-bottom: 0;
    }

    @media screen and (min-width:1500px){
        padding: var(--padding-large);
        height: 50vh;
    }

    .video{
        display: flex;
        justify-content: center;
        align-items: center;

        iframe {
            border-radius: var(--border-radius) !important;
            box-shadow: var(--box-shadow);
            object-fit: contain;
            height: 500px !important;
            width: 1000px;

            @media screen and (max-width:960px) {
                width: 100%;
                position: relative;
                height: 300px !important;
                margin: auto;
                object-fit: contain !important;
            }
        }
    }
}