.bannertwo{
    height: 100vh;
    left: 0;
    top: 60px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 2rem;

    @media screen and (max-width: 900px) {
        height: 70vh;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .overlay{
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .5;
        z-index: -1;
    }

    h1{
        font-size: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
        font-size: 60px;
        color: white;
        text-transform: capitalize;
        padding: 10px 20px;

        &::before{
            content: '';
            position: absolute;
            top: -2px;
            left: -2px;
            bottom: -2px;
            right: -2px;
            border-left: 3px solid var(--main-orange);
            border-right: 3px solid var(--main-orange); 
            z-index: -2;
            // transform: rotate(45deg)
        }

        @media screen and (max-width: 900px) {
            font-size: 30px;
        }
    }
}