.displayon{
    height: 75vh;
    width: 100%;
    margin: auto;
    padding: var(--padding);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    padding-top: 3rem;
    background-color: var(--accent-aqua);

    @media screen and (max-width:960px) {
        min-height: 110vh !important;
        width:  100%;
        padding: 20px 30px;
        grid-template-columns: 1fr;
        margin: auto;
    }

    @media screen and (min-width:1500px) {
        padding: var(--padding-large);
        height: 60vh !important;
    }

    .video{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2{
            font-size: 35px;
            color: var(--main-blue);
            text-transform: capitalize;
            position: relative;
            font-weight: 600;
            margin-bottom: 30px;

            &::after{
                position: absolute;
                content: '';
                left: 0;
                bottom: -8px;
                width: 40%;
                height: 5px;
                border-radius: 10px;
                background-color: var(--main-orange);
            }
        }

        p{
            margin-bottom: 30px;
            color: #fff;
        }

        button{
            width: 200px;
            color: #fff  !important;
        }
    }
}