.about{
    height: 110vh !important;
    width: 100%;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    padding: var(--padding);

    @media screen and (max-width: 960px){
        min-height: 65vh !important;
        width: 100vw !important;
        grid-template-columns: 1fr;
        margin-top: 1rem !important;
        margin-bottom: 0 !important;
        padding: 20px 30px;
    }

    @media screen and (min-width: 1500px){
        min-height: 300px !important;
        width: 100% !important;
        margin: auto;
        padding: var(--padding-large);
        overflow: hidden;
    }

    // @media screen and (min-width: 2300px){
    //     min-height: 100vh !important;
    // }

    .img{
        height: 100%;
        width: 100%;
        position: relative;

        @media screen and (max-width: 960px) {
            margin-bottom: 2rem;
        }

        .rhombus{
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            height: 600px;
            width: 400px;
            background-color: #dafffa;
            border-radius: var(--border-radius);
            position: absolute;
            opacity: .5;
            z-index: -100;
            top: 50px;
            left: -250px;
            margin-top: 2rem;

            @media screen and (max-width: 960px) {
                height: 50vh;
                width: 60%;
                margin-bottom: 2rem;
                left: 0%;
                top: 0;
            }

            @media screen and (max-width:1500px) {
                height: 600px !important;
                overflow: hidden;
            }
        }

        .circle{
            height: 300px;
            width: 300px;
            background-color: var(--main-orange);
            position: absolute;
            // z-index: -80;
            left: -50px;
            top: 150px !important;
            // right: 100px;
            background-image: url(../../assets/banner1.JPG);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            animation: bg 10s linear infinite;

            border-radius: 50%;
            overflow: hidden;

            @keyframes bg {
                0%{
                    background-image: url(../../assets/testimony.png);
                }

                25%{
                    background-image: url(../../assets/testimony2.JPG);
                }

                50%{
                    background-image: url(../../assets/testimony3.JPG);
                }

                75%{
                    background-image: url(../../assets/testimony4.JPG);
                }

                100%{
                    background-image: url(../../assets/testimony1.JPG);
                }
            }

            @media screen and (max-width: 900px) {
                height: 35vh;
                width: 45vw;
                top: 100px;
                left: 100px;
            }

            @media screen and (min-width: 1500px){
                top: 150px !important;
            }

            @media screen and (min-width: 1280px){
                top: 200px;
            }
        }

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: -10px;
        }

        @media screen and (max-width:960px) {
            display: none;
        }
    }

    .text{
        width: 100%;
        margin-top: 100px;

        @media screen and (max-width: 960px){
            // max-height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            top: 0;
            // align-items: center;
            // text-align: center;
            margin-top: 0rem !important;
            margin-bottom: 0;
            padding-bottom: 0;
            padding-top: 3rem;
            // margin-bottom: 3rem;
        }

        @media screen and (min-width: 1500px){
            // width: 768px !important;
        }

        h1{
            color: var(--main-blue) !important;
            position: relative;
            margin-bottom: 30px;

            &::after{
                position: absolute;
                content: '';
                left: 0;
                bottom: -8px;
                width: 200px;
                height: 5px;
                border-radius: 10px;
                background-color: var(--main-orange);
            }
        }
    }
}