.section{


        .rhombus{
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            height: 100vh;
            width: 400px;
            background-color: var(--accent-aqua);
            border-radius: var(--border-radius);
            position: absolute;
            z-index: -100;
            left: 20px;
            margin-top: 2rem;

            // @media screen and (max-width: 900px) {
            //     left: 150px;
            // }

            @media screen and (max-width: 960px) {
                height: 100%;
                width: 100%;
                left: 0;
            }
        }

    .circle{
        height: 300px;
        width: 300px;
        background-color: var(--main-orange);
        position: absolute;
        // z-index: -80;
        left: 150px;
        top: 200px;
        // right: 100px;

        border-radius: 50%;
        overflow: hidden;

        @media screen and (max-width: 900px) {
            display: none;
        }
    }

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: -10px;
    }

    .lex{
        width: 100%;
        margin-top: 100px;

        h1{
            color: var(--main-blue) !important;
            position: relative;
            margin-bottom: 30px;

            &::after{
                position: absolute;
                content: '';
                left: 0;
                bottom: -8px;
                width: 40%;
                height: 5px;
                border-radius: 10px;
                background-color: var(--main-orange);
            }
        }
    }
}