.twentyvideo{
    width: 100% !important;
    padding: var(--padding);

    @media screen and (max-width: 900px){
        width: 100%;
        padding: 10px 30px;
    }

    @media screen and (min-width: 1500px){
        width: 100%;
        padding: var(--padding-large);
    }

    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        margin-bottom: 20px;
        color: var(--main-blue);
        // margin-top: 30px;

        h1{
            font-size: 3.1rem;
            text-transform: capitalize;
            // color: var(--main-color);
            position: relative;

            &::after{
                content: '';
                position: absolute;
                // top: 50%;
                left: 50%;
                /* bring your own prefixes */
                transform: translate(-50%, -50%);
                bottom: -8px;
                width: 60%;
                background-color: var(--main-orange);
                height: 5px;
                border-radius: var(--border-radius);
            }

            @media screen and (max-width: 900px){
                    text-align: center;
            }
        }
    }

    .main{
        display: grid;
        height: 90vh;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        // background-color: #808080;
        gap: 1rem;
        margin-bottom: 0;
        padding-bottom: 0;

        @media screen and (max-width: 900px) {
            grid-template-columns: 1fr;
            // width: 100%;
        }

        @media screen and (min-width: 1500px){
            height: 80vh;
        }

        .video{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .text{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.1rem;

            p{
                font-size: 1.1rem;
            }
        }
    }
}