


    .wrapper__body{
        overflow: hidden;
        width: 100% !important;
        box-shadow: var(--box-shadow);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: var(--transition);
        height: 550px !important;

        @media screen and (max-width: 900px){
            // width: 80vw !important;
            margin: auto;
            padding: 0;
        }

        img{
            height: 40%;
            width: 100%;
            margin: auto;
            object-fit: contain;

            @media screen and (max-width:960px){
                height: 10rem;
            }
        }

        h2{
            padding: 1rem;
            font-size: 30px;
            color: var(--main-blue);
            font-weight: 600;
            text-transform: uppercase;
        }

        p{
            padding: 0 1rem;
            font-weight: 400;
        }

        button{
            margin: 1rem;
        }
    }