


    .wrapper__body{
        overflow: hidden;
        width: 100%;
        box-shadow: var(--box-shadow);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: var(--transition);

        img{
            height: 19rem;
            width: 100%;
            object-fit: cover;
        }

        h2{
            padding: 1rem;
            font-size: 30px;
            color: var(--main-blue);
            font-weight: 600;
        }

        p{
            padding: 0 1rem;
            font-weight: 400;
        }

        button{
            margin: 1rem;
        }
    }