.display{
    height: 80vh;
    width: 100%;
    padding: var(--padding);
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    padding-top: 5rem;
    background-color: #ececec;

    @media screen and (max-width:960px) {
        min-height: 110vh !important;
        width: 100%;
        grid-template-columns: 1fr;
        // margin: 0 auto ;
        margin-bottom: 0 !important;
        padding: 20px 30px;
    }

    @media screen and (min-width: 1500px){
        height: 60vh !important;
        width: 100% !important;
        padding: var(--padding-large);
    }

    .video{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2{
            font-size: 35px;
            color: var(--main-blue);
            text-transform: capitalize;
            position: relative;
            font-weight: 600;
            margin-bottom: 20px;
            
            @media screen and (max-width:500px) {
                margin-top: 40px;
            }

            &::after{
                position: absolute;
                content: '';
                left: 0;
                bottom: -8px;
                width: 100px !important;
                height: 5px;
                border-radius: 10px;
                background-color: var(--main-orange);
            }
        }

        p{
            margin-bottom: 30px;
            // color: #fff;
        }

        button{
            width: 200px;
            color: #fff  !important;
        }
    }
}