.cta-btn {
  padding: 10px 20px;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background-color: var(--main-orange);
  transition: var(--transition);
}

@media screen and (max-width: 960px) {
  .cta-btn{
    display:none;
  }
}
  
.cta-btn:hover {
  /* padding: 6px 18px; */
  background-color: transparent;
  color: var(--main-blue);
  border-radius: var(--border-radius);
  border: solid var(--main-orange);
}