.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 6rem;
    background-color: #fff;
    color: var(--main-blue);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);

    @media screen and (max-width: 768px) {
      padding: 0.5rem 1.23rem;
    }

    .brand-name {
      text-decoration: none;
      height: 100%;
      
      img{
        height: 50px;
      }
    }

    .hamburger {
      border: 0;
      height: 40px;
      width: 40px;
      padding: 0.5rem;
      border-radius: 50%;
      background-color: var(--main-blue);
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
      display: none;

      &:hover {
        background-color: var(--main-blue);
      }

      @media screen and (max-width: 768px) {
          display: block;
      }
    }

    .expanded{
      ul{
        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }

    .navigation-menu {
      margin-left: auto;

      ul {
        display: flex;
        padding: 0;
        align-items: center;

        @media screen and (max-width: 768px) {
            display: none;
            position: absolute;
            top: 60px;
            left: 0;
            // stacks the li tags vertically 
            flex-direction: column;
            // makes menu span full height and width
            width: 100%;
            height: calc(100vh - 77px);
            background-color: #fff;
            border-top: 1px solid var(--main-orange);
        }

        li{
          @media screen and (max-width: 768px) {
            text-align: center;
            margin: 0;
            width: 100%;
            padding: 1.5rem 0;
          }
        }

        .link{
          margin-right: 2rem;
          color: var(--main-blue);
          font-size: 1.23rem;
          transition: var(--transition);

          &:hover{
            color: var(--main-orange);
          }

          &:active{
            color: var(--main-orange);
          }
        }
      }
    }
  }