.info{
    padding: var(--padding);
    min-height: 40vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
    background-color: var(--main-blue);
    color: white;
    margin-bottom: 1.8rem;

    @media screen and (min-width: 1280px) {
        padding: var(--padding-large);
    }

    @media screen and (max-width: 900px) {
        min-height: 100vh;
        grid-template-columns: 1fr;
        padding: var(--padding);
    }

    .text{
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        width: 100%;

        h3{
            font-size: 25px;
            text-transform: capitalize;
            margin-bottom: 25px;
            position: relative;

            &::after{
                content: '';
                position: absolute;
                height: 3px;
                width: 20%;
                left: 0;
                transform: translate(50%, -50%);
                bottom: -5px;
                background-color: var(--main-orange);
            }
        }

        p{
            font-size: 1.1rem;
            font-weight: 400;
            margin-bottom: 1.5rem;
        }

        button{
            width: 50%;
            background: var(--main-orange);
        }
    }

    .video{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        video{
            height: 35vh;
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
    }
}