.info{
    padding: var(--padding);
    height: 50vh !important;
    width: 100%;
    margin-bottom: 2rem;

    @media screen and (max-width: 900px) {
        height: 80vh !important;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 10px 30px;
    }

    .text{
        display: flex;
        flex-direction: column;
        text-align: left;
        // justify-content: center; 
        width: 100%;

        h1{
            font-size: 40px;
            text-transform: capitalize;
            margin-bottom: 25px;
            position: relative;
            color: var(--main-blue);

            &::after{
                content: '';
                position: absolute;
                height: 5px;
                border-radius: 10px;
                width: 40%;
                left: 0;
                bottom: -5px;
                background-color: var(--main-orange);
            }
        }

        p{
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 1.5rem;
        }

        button{
            width: 50%;
            background: var(--main-orange);
        }
    }
    
    .video{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        iframe{
            box-shadow: var(--box-shadow);
            border-radius: var(--border-radius);
            
        }
    }
}