.gallery{
    min-height: 100vh;
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    // grid-template-rows: auto auto;
    gap: 1rem;
    margin-bottom: 20px;
}