.cohorts{
    min-height: 70vh;
    width: 100%;
    padding: var(--padding);

    @media screen and (min-width: 1280px) {
        padding: 1.23rem 10rem;
    }

    .text{
        text-align: center;

        h1{
            position: relative;
            font-size: 40px;
            color: var(--main-blue);
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after{
                content: '';
                position: absolute;
                left: 30;
                bottom: -4px;
                height: 3px;
                width: 20%;
                background-color: var(--main-orange);
            }
        }

        p{
            font-size: 1.1rem;
            margin-bottom: 30px;
        }
    }

    .horts{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1.5rem; 
    }
}