.cohorts{
    min-height: 70vh;
    width: 100%;
    padding: var(--padding);

    @media screen and (min-width: 1280px) {
        padding: var(--padding-large);
    }

    .text{
        text-align: center;

        h1{
            position: relative;
            font-size: 40px;
            color: var(--main-blue);
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after{
                content: '';
                position: absolute;
                left: 50%;
                /* bring your own prefixes */
                transform: translate(-50%, -50%);
                bottom: -5px;
                height: 3px;
                width: 30%;
                background-color: var(--main-orange);
            }
        }

        p{
            font-size: 1.1rem;
            margin-bottom: 40px;
        }
    }

    .horts{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem; 

        @media screen and (max-width: 900px) {
            grid-template-columns: 1fr;
        }
    }
}