.main-wrapper{
    min-height: 70vh;
    width: 100%;
    margin: auto;
    padding: var(--padding);

    .text{
        text-align: center;

        h1{
            position: relative;
            font-size: 40px !important;
            color: var(--main-blue);
            margin-bottom: 30px !important;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after{
                content: '';
                position: absolute;
                left: 50%;
                /* bring your own prefixes */
                transform: translate(-50%, -50%);
                bottom: -8px;
                height: 5px;
                width: 20%;
                border-radius: var(--border-radius);
                background-color: var(--main-orange);
            }
        }

        p{
            font-size: 1.1rem;
            margin-bottom: 40px;
        }
    }

    .cohort{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1.5rem; 

        @media screen and (max-width: 900px) {
            grid-template-columns: 1fr;
        }
    }
}