.footer{
    min-height: 40vh;
    // clip-path: polygon(100% 57%, 100% 100%, 0 100%, 0 57%, 50% 73%);
    width: 100%;
    background-color: var(--main-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding);

    @media screen and (min-width: 1280px) {
        padding: 1.23rem 10rem;
    }

    

    .up{
        font-size: 1.5rem;
        color: var(--main-orange);
        text-align: center;
    }

    .icons{
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;

        a{
            margin-right: 20px;
            color: white;

            .icon{
                font-size: 2.5rem;
                padding: 10px;
                border: 1px solid white;
                border-radius: 50%;
                color: white;
            }

            img{
                height: 50px;
                // margin-top: 15.23rem;
                border-radius: var(--border-radius);
            }
        }
    }

    .cols{
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        // margin: auto;

        @media screen and (max-width: 900px) {
            flex-direction: column;
        }

        

        .col{
            width: 100%;

            a,p{
                color: white;
                font-size: 1.1rem;
                line-height: 1.5;
                font-weight: 500;
            }

            .input{
                height: 50px;
                width: 100%;
                border-radius: var(--border-radius);
                border: none;
                background-color: #000;
                padding: 10px 20px;
                color: white;
                font-size: 1.13rem;
                margin-top: 1.23rem;
            }
            

            h3{
                font-size: 1.4rem;
                color: var(--main-orange);
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 1.23rem;
            }

            .footer__links{
                display: block;
                color: white;
            }

            .white{
                color: white;

                &:hover{
                    color: var(--main-orange);
                }
            }

            .footer__link{
                font-size: 1.1rem;
                text-transform: uppercase;
                line-height: 1.5;
                color: white;
                position: relative;
                transition: var(--transition);
                cursor: pointer;

                &:hover{
                    color: var(--main-orange);
                    
                    &::after{
                        width: 50%;
                    }
                }

                &::after{
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    width: 0%;
                    background-color: var(--main-orange);
                    height: 2px;
                    left: 0;

                    
                }
            }
        }
    }
}