.testimony{
    height: 60vh;
    width: 1000px;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 1.5rem 0 1.5rem 0;

    @media screen and (max-width: 960px){
        min-height: 80vh !important;
        width: 100vw !important;
        grid-template-columns: 1fr;
        margin-top: 0 !important;
        padding-top: 0;
        margin-bottom: 0rem !important;
        padding: 10px 30px;
    }

    .img{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        // margin-top: 30px;
        justify-content: center;

        img{
            height: 80%;
            width: 80%;
            object-fit: cover;
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
        }
    }

    .text{
        height: 100%;
        width: 100%;

        h1{
            text-transform: capitalize;
            margin-bottom: 25px;
            position: relative;
            color: var(--main-blue);

            &::after{
                content: '';
                position: absolute;
                height: 5px;
                border-radius: 10px;
                width: 40%;
                left: 0;
                bottom: -5px;
                background-color: var(--main-orange);
            }
        }

        p{
            margin-bottom: 30px;
        }

        button{
            border-radius: var(--border-radius);
        }
    }
}