.testimony{
    min-height: 50vh;
    width: 100%;
    margin: 30px 0;

    @media screen and (max-width: 1000px) {
        min-height: 50vh !important;
        margin: 0;
    }

    @media screen and (max-width: 960px) {
        min-height: 80vh !important;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 10px 30px;
    }

    h1{
        text-transform: capitalize;
        margin-bottom: 25px;
        position: relative;
        color: var(--main-blue);

        &::after{
            content: '';
            position: absolute;
            height: 5px;
            border-radius: 10px;
            width: 40%;
            left: 0;
            bottom: -5px;
            background-color: var(--main-orange);
        }
    }

    p{
        margin-bottom: 30px;
    }

    button{
        border-radius: var(--border-radius);
    }

    .img{
        height: 400px;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--border-radius);

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            width: 300px;
            border-radius: var(--border-radius);
        }
    }
}