.copy{
    height: 10vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
        font-size: 1.1rem;

        @media screen and (min-width:300px) and (max-width: 600px){
            font-size: .8rem !important;
            text-align: center;
        }

        a{
            color: var(--main-orange);
        }
    }
}