:root{
    --main-orange: #F8A61F;
    --main-blue: #0F4E7D;
    --main-black: #000101;
    --accent-aqua: #25f5e9;
    --secondary-blue: #0c0df5;
    --secondary-green: #22a9a1;
    --main-font: 'Source Sans Pro', sans-serif;
    --transition: all .3s ease;
    --border-radius: 10px;
    --padding: 2rem 6rem;
    --box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

p{
    font-size: 1.1rem;
    font-weight: 500;
}

h1,
h2,
h3{
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
}

p{
    margin-top: 0;
    font-size: 1rem;
}

a,
a:visited,
a:active{
    text-decoration: none;
    cursor: pointer;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
}

// .app{
//     max-width: 1200px;
//     margin: auto;
// }