:root{
    --main-orange: #F8A61F;
    --main-blue: #0F4E7D;
    --main-black: #000101;
    --accent-aqua: #25f5e9;
    --gray: #f8961f;
    --secondary-blue: #040434;
    --secondary-green: #22a9a1;
    --main-font: 'Source Sans Pro', sans-serif;
    --transition: all .3s ease;
    --border-radius: 4px;
    --padding: 2rem 6rem;
    --padding-large: 2rem 10rem;
    --box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

p{
    font-size: 1.5rem;
    font-weight: 500;

    @media screen and (max-width:960px) {
        font-size: 1rem;
        font-weight: 400 !important;
    }

    @media screen and (min-width:1500px) {
        font-size: 2rem !important;
    }
}

h3{
    font-size: 2.5rem;

    @media screen and (max-width:960px) {
        font-size: 1.5rem !important;
    }

    @media screen and (min-width:1500px) {
        font-size: 3rem !important;
    }
}

h1{
    font-weight: 700;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 3.5rem !important;
    font-weight: 900 !important;
    color: var(--main-blue);
    position: relative;

    @media screen and (max-width: 600px) {
        font-size: 2.5rem !important;
    }

    @media screen and (min-width:1500px) {
        font-size: 4rem !important;
    }
}

p{
    margin-top: 0;
    font-size: 1.1rem !important;

    @media screen and (max-width: 900px) {
        font-size: 1rem !important;
    }
}

.btn{
    padding: 10px 20px;
    font-size: 1.1rem;
    color: #fff !important;
    background-color: var(--main-orange) !important;
    border: none;
    outline: none;
    transition: var(--transition);
    border-radius: var(--border-radius);
    text-transform: capitalize;
    width: 200px;
    cursor: pointer;
    font-weight: 400 !important;

    @media screen and (max-width:960px) {
        padding: 2px;
        font-size: .6rem !important;
        width: 150px;
    }

    Link{
        color: white !important;
    }
}

.btn-green{
    padding: 10px 20px;
    font-size: 1.1rem;
    color: #fff !important;
    background-color: var(--secondary-green) !important;
    border: none;
    outline: none;
    transition: var(--transition);
    border-radius: var(--border-radius);
    text-transform: capitalize;
    width: 200px;

    Link{
        color: white !important;
    }

    @media screen and (max-width:960px) {
        padding: 0;
        font-size: .8rem !important;
        width: 100px;
    }
}

.btn-transparent{
    padding: 10px 20px;
    font-size: 1.1rem;
    color: #fff !important;
    background-color: transparent;
    border: 1px solid var(--main-orange);
    outline: none;
    transition: var(--transition);
    border-radius: var(--border-radius);
    text-transform: capitalize;
    width: 200px;

    Link{
        color: white !important;
    }

    @media screen and (max-width:960px) {
        padding: 8px;
        font-size: .8rem !important;
        width: 100px;
    }
}

a,
a:visited,
a:active{
    text-decoration: none;
    cursor: pointer;
    font-size: 1.1rem;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.app{
    overflow: hidden;
}

.section{
    height: 100vh;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

    @media screen and (max-width: 900px) {
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 20px 30px;
    }

    .container{
        width: 100%;
        padding: var(--padding);

        @media screen and (max-width: 900px) {
            width: 100vw;
            padding: var(--padding);
        }

        @media screen and (min-width:1500px){
            padding: var(--padding-large);
        }

        .columns{
            width: 100%;
            height: 100%;
            display: flex;
            gap: 1.5rem;
            position: relative;

            @media screen and (max-width: 900px){
                flex-direction: column;
            }

            .column{
                flex: 1;

                @media screen and (max-width: 900px){
                    width: 100%;
                }
            }
        }
    }
}

.carrier{
    width: 100%;
    margin: auto;
    padding: var(--padding);

    @media screen and (min-width: 1500px){
        padding: var(--padding-large);
    }

    .text{
        text-align: center;
        margin: 30px 0;

        h1{
            position: relative;
            
            &::after{
                position: absolute;
                content: '';
                left: 40%;
                bottom: -8px;
                width: 200px;
                height: 5px;
                border-radius: 10px;
                background-color: var(--main-orange);
            }
        }

        p{
            width: 1000px;
            margin: auto;

            @media screen and (max-width:960px){
                width: 100%;
            }
        }
    }

    @media screen and (max-width:960px) {
        width: 100%;
        padding: 20px 30px;
        margin: 2.5rem auto;
    }

    .meet{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1.1rem;

        @media screen and (max-width:960px) {
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: auto;
        }

        @media screen and (max-width:500px){
            grid-template-columns: 1fr;
        }
    }
}

.nairobits{
    min-height: 100vh !important;
    margin: auto;
}

.twenty{
    width: 100%;
}