:root{
    --main-orange: #F8A61F;
    --main-blue: #0F4E7D;
    --main-black: #000101;
    --accent-aqua: #25f5e9;
    --secondary-blue: #0c0df5;
    --secondary-green: #22a9a1;
    --main-font: 'Source Sans Pro', sans-serif;
    --transition: all .3s ease;
    --border-radius: 10px;
    --padding: 2rem 6rem;
    --padding-large: 2rem 10rem;
    --box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

p{
    font-size: 1.1rem;
    font-weight: 500;
}

h1,
h2,
h3{
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
}

p{
    margin-top: 0;
    font-size: 1rem;
}

a,
a:visited,
a:active{
    text-decoration: none;
    cursor: pointer;
}

li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.app{
    overflow: hidden;
}

.cohortsall{
    min-height: 100vh;
    width: 100%;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @media screen and (min-width: 1280px) {
        padding: 1.23rem 10rem;
    }

    .text{
        display: block;
        text-align: center;
        width: 1000px;
        margin-bottom: 30px;

        @media screen and (max-width: 900px) {
            width: 100vw;
            padding: var(--padding);
            margin: 20px 0;
        }

        h2{
            font-size: 35px;
            position: relative;
            color: var(--main-blue);
            margin-bottom: 20px;

            &::after{
                content: '';
                position: absolute;
                height: 3px;
                width: 30%;
                background-color: var(--main-orange);
                left: 50%;
                /* bring your own prefixes */
                transform: translate(-50%, -50%);
                bottom: -4px;
            }
        }

        p{
            font-size: 1.1rem;
        }
    }

    .orts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;

        @media screen and (max-width: 900px) {
            grid-template-columns: 1fr;
        }
    }
}