.explore{
    height: 90vh;
    width: 100%;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow: hidden;

    @media screen and (min-width: 1280px) {
        padding: 1.23rem 10rem;
    }

    .text{
        padding-top: 2rem;
        padding-bottom: 1rem;

        h1{
            text-transform: capitalize;
            color: var(--main-blue);
            text-align: center;
            margin-bottom: 30px;
            position: relative;

            &::after{
                content: '';
                height: 2px;
                width: 30%;
                background-color: var(--main-orange);
                position: absolute;
                left: 280px;
                bottom: -4px;
            }
        }

        p{
            font-size: 1.1rem;
        }
    }

    .video{
        height: 50vh;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .video{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .circle{
                height: 400px;
                width: 400px;
                border-radius: 50%;
                background-color: var(--main-blue);
                position: absolute;
                top: 50px;
                left: 150px;
                z-index: -100;

            }

            video{
                height: 35vh;
                width: 90%;
                border-radius: 10px;
                position: absolute;
            }
        }
    }
}