.bannerone{
    background: url('../../assets/banner1.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 80px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: .5;
        // z-index: -1;
    }

    .hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
        width: 1000px;
        // top: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // bottom: -60px;
        // top: 150px;
        padding: var(--padding);

        @media screen and (max-width: 900px) {
            width: 100% !important;
            padding: 0 30px;
            margin: 0;
        }

        h1{
            font-size: 80px !important;
            color: #fff;
            font-weight: 700;
            line-height: 1.1;

            @media screen and (max-width: 900px) {
                font-size: 30px !important;
            }
        }

        p{
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 30px;
        }
    }
}